# Ignore everything
*

# But do not Ignore these files...
!.gitignore

!src
!src/**

!libs
!libs/**

!dataBase/
!dataBase/SubDistricts/
!dataBase/SubDistricts/New/
!dataBase/SubDistricts/New/*.json
!dataBase/streetSweepTimes.json
!dataBase/tools/
!dataBase/tools/*.py



!*.txt
!*.md
!*.jpg
!*.png


# MAC HIDDEN FILES
.DS_Store


#Additional Specific files to Ignore
